<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бесплатный генератор договора купли-продажи автомобиля, мотоцикла, транспортного средства</title>
    <meta name="description" content="Создать договор купли продажи автомобиля онлайн. Скачать ДКП.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <style>
        .v-row {
            margin: 0;
        }

        .v-col {
            padding: 0;
        }

        .v-container {
            max-width: 100%;
            padding: 0;
        }

        .v-card-text {
            padding: 0.5rem;
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            overflow: hidden;
            white-space: nowrap;
            clip: rect(0 0 0 0);
            -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
        }
    </style>
</head>
<body>
<div id="app">
    <v-form v-slot="{validate}">
        <v-container>
            <v-card title="Дата и место составления" class="mb-5">
                <v-card-text>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="min:10"
                            name="form.date"
                    >
                        <v-text-field
                                v-maska:[options.date]
                                clearable
                                v-bind="field"
                                v-model="form.date"
                                label="Дата составления"
                                :error-messages="errors"

                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="min:5|max:50"
                            name="form.place"
                    >
                        <v-text-field
                                v-bind="field"
                                v-model="form.place"
                                label="Место составления"
                                :error-messages="errors"

                                clearable
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                </v-card-text>
            </v-card>

            <v-card title="Текущий владелец ТС" text="Как в паспорте" class="mb-5">
                <v-card-text>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50|min:5"
                            name="form.owner.current.fio"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.owner.current.fio"
                                label="ФИО"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules=""
                            name="form.owner.current.pass.series_and_number"
                    >
                        <v-text-field
                                v-maska:[options.series_and_number]
                                clearable
                                v-bind="field"
                                v-model="form.owner.current.pass.series_and_number"
                                label="Серия и номер паспорта"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-row>
                        <v-col class="mr-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="min:10"
                                    name="form.owner.current.pass.date"
                            >
                                <v-text-field
                                        v-maska:[options.date]
                                        clearable
                                        v-bind="field"
                                        v-model="form.owner.current.pass.date"
                                        label="Дата выдачи"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules=""
                                    name="form.owner.current.pass.code"
                            >
                                <v-text-field
                                        v-maska:[options.pass_code]
                                        clearable
                                        v-bind="field"
                                        v-model="form.owner.current.pass.code"
                                        label="Код подразделения"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                    </v-row>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50"
                            name="form.owner.current.pass.who_give"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.owner.current.pass.who_give"
                                label="Кем выдан"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:10|min:10"
                            name="form.owner.current.birthdate"
                    >
                        <v-text-field
                                v-maska:[options.date]
                                clearable
                                v-bind="field"
                                v-model="form.owner.current.birthdate"
                                label="Дата рождения"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50"
                            name="form.owner.current.birthplace"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.owner.current.birthplace"
                                label="Место рождения"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50"
                            name="form.owner.current.reg_address"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.owner.current.reg_address"
                                label="Адрес регистрации"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                </v-card-text>
            </v-card>

            <v-card title="Покупатель ТС" text="Как в паспорте" class="mb-5">
                <v-card-text>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50|min:5"
                            name="form.owner.new.fio"
                    >
                        <v-text-field
                                v-bind="field"
                                v-model="form.owner.new.fio"
                                label="ФИО"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules=""
                            name="form.owner.new.pass.series_and_number"
                    >
                        <v-text-field
                                v-maska:[options.series_and_number]
                                clearable
                                v-bind="field"
                                v-model="form.owner.new.pass.series_and_number"
                                label="Серия и номер паспорта"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-row>
                        <v-col class="mr-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="min:10"
                                    name="form.owner.new.pass.date"
                            >
                                <v-text-field
                                        v-maska:[options.date]
                                        clearable
                                        v-bind="field"
                                        v-model="form.owner.new.pass.date"
                                        label="Дата выдачи"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules=""
                                    name="form.owner.new.pass.code"
                            >
                                <v-text-field
                                        v-maska:[options.pass_code]
                                        clearable
                                        v-bind="field"
                                        v-model="form.owner.new.pass.code"
                                        label="Код подразделения"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                    </v-row>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50"
                            name="form.owner.new.pass.who_give"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.owner.new.pass.who_give"
                                label="Кем выдан"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:10|min:10"
                            name="form.owner.new.birthdate"
                    >
                        <v-text-field
                                v-maska:[options.date]
                                clearable
                                v-bind="field"
                                v-model="form.owner.new.birthdate"
                                label="Дата рождения"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50"
                            name="form.owner.new.birthplace"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.owner.new.birthplace"
                                label="Место рождения"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50"
                            name="form.owner.new.reg_address"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.owner.new.reg_address"
                                label="Адрес регистрации"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                </v-card-text>
            </v-card>

            <v-card title="Транспортное средство" text="Если понадобится, посмотрите, где найти VIN и номер СТС"
                    class="mb-5">
                <v-card-text>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50|min:3"
                            name="form.auto.mark_and_model"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.auto.mark_and_model"
                                label="Марка и модель"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:17"
                            name="form.auto.vin"
                    >
                        <v-text-field
                                v-maska:[options.vin]
                                clearable
                                v-bind="field"
                                v-model="form.auto.vin"
                                label="VIN номер"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules=""
                            name="form.auto.type"
                    >
                        <v-select
                                :items="dict.auto_types"
                                clearable
                                v-bind="field"
                                v-model="form.auto.type"
                                label="Тип ТС"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-select>
                    </v-field>
                    <v-row>
                        <v-col class="mr-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="min:4"
                                    name="form.auto.year"
                            >
                                <v-text-field
                                        v-maska:[options.year]
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.year"
                                        label="Год выпуска"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:6"
                                    name="form.auto.mileage"
                            >
                                <v-text-field
                                        type="number"
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.mileage"
                                        label="Пробег, км"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col class="mr-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:4"
                                    name="form.auto.power"
                            >
                                <v-text-field
                                        type="number"
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.power"
                                        label="Мощность двигателя, л.с."
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:5"
                                    name="form.auto.volume"
                            >
                                <v-text-field
                                        type="number"
                                        clearable
                                        v-bind="field"
                                        v-model.number="form.auto.volume"
                                        label="Рабочий объем, куб.см."
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                    </v-row>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:15"
                            name="form.auto.color"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.auto.color"
                                label="Цвет"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-row>
                        <v-col class="mr-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:30"
                                    name="form.auto.engine_model"
                            >
                                <v-text-field
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.engine_model"
                                        label="Модель двигателя"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:20"
                                    name="form.auto.engine_number"
                            >
                                <v-text-field
                                        type="number"
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.engine_number"
                                        label="Номер двигателя"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                    </v-row>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:20"
                            name="form.chassis_number.color"
                            v-model="form.auto.chassis_number"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                label="Номер шасси, рамы"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:20"
                            name="form.body_number.color"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.auto.body_number"
                                label="Номер кузова"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-row>
                        <v-col class="mr-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:15"
                                    name="form.auto.pts.series_and_number"
                            >
                                <v-text-field
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.pts.series_and_number"
                                        label="ПТС, серия/номер"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="min:10"
                                    name="form.auto.pts.date"
                            >
                                <v-text-field
                                        v-maska:[options.date]
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.pts.date"
                                        label="ПТС, дата выдачи"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                    </v-row>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:30"
                            name="form.auto.pts.who_give"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.auto.pts.who_give"
                                label="ПТС, кем выдан"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:20"
                            name="form.auto.gos_number"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.auto.gos_number"
                                label="Гос. номер"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-row>
                        <v-col class="mr-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:30"
                                    name="form.auto.sts.series"
                            >
                                <v-text-field
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.sts.series"
                                        label="СТС, серия"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="max:30"
                                    name="form.auto.sts.number"
                            >
                                <v-text-field
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.sts.number"
                                        label="СТС, номер"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                        <v-col class="ml-2">
                            <v-field
                                    v-slot="{ field, errors }"
                                    rules="min:10"
                                    name="form.auto.sts.date"
                            >
                                <v-text-field
                                        v-maska:[options.date]
                                        clearable
                                        v-bind="field"
                                        v-model="form.auto.sts.date"
                                        label="СТС, дата выдачи"
                                        :error-messages="errors"
                                        variant="outlined"
                                        density="compact"
                                ></v-text-field>
                            </v-field>
                        </v-col>
                    </v-row>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:50"
                            name="form.auto.sts.who_give"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.auto.sts.who_give"
                                label="СТС, кем выдан"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                    <v-field
                            v-slot="{ field, errors }"
                            rules="max:30"
                            name="form.auto.price"
                    >
                        <v-text-field
                                clearable
                                v-bind="field"
                                v-model="form.auto.price"
                                label="Стоимость ТС"
                                :error-messages="errors"
                                variant="outlined"
                                density="compact"
                        ></v-text-field>
                    </v-field>
                </v-card-text>
            </v-card>
            <v-row justify="center" align="center" justify-sm="space-between">
                <v-btn color="blue" class="mb-5 mb-sm-0" @click="submit(validate)">
                    Скачать договор
                </v-btn>
                <v-btn variant="plain">
                    Скачать пустой бланк
                </v-btn>
            </v-row>
        </v-container>
    </v-form>
    <a class="sr-only" href="https://webseed.ru" title="Заказать разработку и продвижение сайта в Челнах и Казани. Вебсид.ру">Заказать разработку и продвижение сайта в Челнах и Казани. Вебсид.ру</a>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://unpkg.com/vee-validate@next"></script>
<script src="https://unpkg.com/@vee-validate/rules@next"></script>
<script src="https://unpkg.com/@vee-validate/i18n@next"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/maska@latest/dist/maska.umd.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>
</html>

